.product-card__add-btn.in-cart {
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  justify-content: center;
}

.is-hidden {
  display: none !important;
}

.product-card__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.product-card__call {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-card__not-available {
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-loose);
  text-align: right;
  color: var(--color-text-secondary);
  text-align: left;
}

.product-card__add-btn {
  background: var(--gradient-primary) !important;
  cursor: pointer;
  border-radius: var(--border-radius-lg);
  height: 48px;
  padding: 0 var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.qty-value:empty {
  display: none;
}

.qty-value-controls {
  font-weight: 600;
  font-size: var(--font-size-base);
  line-height: var(--line-height-xl);
  text-align: center;
  color: var(--color-primary);
}

.product-card__quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xs) var(--spacing-md);
  gap: var(--spacing-md);
  background-color: var(--color-white);
}

.qty-btn {
  background: none;
  border: none;
  font-size: var(--font-size-xl);
  cursor: pointer;
  padding: 0 var(--spacing-sm);
}

.qty-value {
  font-weight: 600;
  font-size: var(--font-size-base);
  line-height: var(--line-height-xl);
  text-align: center;
  color: var(--color-white);
  width: 24px;
  height: 24px;
}

@media(max-width: 1200px) {
  .product-card__price-wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-card__weight {
    text-align: left;
  }

  .product-card__title {
    min-height: 75px;
  }

  .product-card {
    flex: 0 0 calc((100% / 3) - 3rem);
  }
}

@media(max-width: 990px) {
  .product-card {
    flex: 0 0 calc((100% / 2) - 3rem);
  }
}

@media(max-width: 768px) {
  .product-card {
    flex: 0 0 calc((100% / 1) - 15rem);
  }

  .featured-collection__slider-container {
    padding-left: var(--spacing-lg);
  }

  .featured-collection__arrow {
    display: none !important;
  }

  .featured-collection__slider {
    padding-bottom: var(--spacing-xl);
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) var(--color-border);
  }
  
  .featured-collection__slider::-webkit-scrollbar {
    height: 8px;
    background: var(--color-border);
  }
  
  .featured-collection__slider::-webkit-scrollbar-track {
    background: var(--color-border);
    border-radius: var(--border-radius-sm);
  }
  
  .featured-collection__slider::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to right,
      transparent 0%,
      transparent 59%,
      var(--color-accent) 59%,
      var(--color-accent) 86%,
      transparent 86%,
      transparent 100%
    );
    border-radius: var(--border-radius-sm);
    min-width: 40px;
  }

  .product-card__controls,
  .product-card__quantity-controls {
    width: 100%;
  }

  .qty-btn {
    font-size: var(--font-size-xl);
  }

  .product-card__quantity-controls {
    justify-content: space-between;
  }
}