.product-card__add-btn.in-cart {
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  justify-content: center;
}

.is-hidden {
  display: none !important;
}

.product-card__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.product-card__call {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-card__not-available {
  font-family: var(--font-family-manrope);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-loose);
  text-align: right;
  color: var(--color-text-secondary);
  text-align: left;
}

.product-card__add-btn {
  background: var(--gradient-primary) !important;
  cursor: pointer;
  border-radius: var(--border-radius-lg);
  height: 48px;
  padding: 0 var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.qty-value:empty {
  display: none;
}

.qty-value-controls {
  font-family: var(--font-family-manrope);
  font-weight: 600;
  font-size: var(--font-size-base);
  line-height: var(--line-height-xl);
  text-align: center;
  color: var(--color-primary);
}

.product-card__quantity-controls {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-xs) var(--spacing-md);
  gap: var(--spacing-md);
  background-color: var(--color-white);
}

.qty-btn {
  background: none;
  border: none;
  font-size: var(--font-size-xl);
  cursor: pointer;
  padding: 0 var(--spacing-sm);
}

.qty-value {
  font-weight: 600;
  font-size: var(--font-size-base);
  line-height: var(--line-height-xl);
  text-align: center;
  color: var(--color-white);
  width: 24px;
  height: 24px;
}

.product-card {
  background: var(--color-bg-secondary);
}

@media(max-width: 1200px) {
  .product-card__price-wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-card__weight {
    text-align: left;
  }

  .product-card__title {
    min-height: 75px;
  }

  .product-card {
    flex: 0 0 calc((100% / 3) - 3rem);
  }
}

@media(max-width: 990px) {
  .product-card {
    flex: 0 0 calc((100% / 2) - 3rem);
  }
}

@media(max-width: 768px) {
  .product-card {
    flex: 0 0 calc((100% / 1) - 12rem);
    padding: 8px;
  }

  .featured-collection__slider-container {
    padding-left: var(--spacing-lg);
  }

  .featured-collection__arrow {
    display: none !important;
  }

  .featured-collection__slider {
    position: relative;
    overflow-x: auto;
    scroll-behavior: smooth;
  
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 50px;
  }
  
  .featured-collection__slider::-webkit-scrollbar {
    display: none;
  }
  

  .product-card__controls,
  .product-card__quantity-controls {
    width: 100%;
  }

  .qty-btn {
    font-size: var(--font-size-xl);
  }

  .product-card__quantity-controls {
    justify-content: space-between;
  }

  .custom-scrollbar {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: calc(100% - 32px);
    background-color: var(--color-bg);
    pointer-events: none;
  }
  
  .custom-scrollbar-thumb {
    position: absolute;
    height: 100%;
    background-color: var(--color-accent);
    width: 101px;
    display: block !important; 
  }
  
  .featured-collection__cta .button {
    margin-top: 0px;
  }

  .featured-collection__heading {
    font-size: 32px;
  }

  .featured-collection__subtitle {
    font-size: 13px;
  }

  .product-card__title {
    font-size: 16px;
  }

  .product-card__weight {
    font-size: 12px;
  }

  .product-card__quantity-controls {
    position: relative;
    bottom: -6px;
  }
}